---
// Events page for Wavebrook
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import EventsHero from '../components/EventsHero.astro';
import EventsGrid from '../components/EventsGrid.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout
  title='Events - Wavebrook'
  description='See how integrating Wavebrook SDK has led to better monetization and technical performance for real apps. Discover their stories here.'
>
  <Header />
  <main>
    <EventsHero />
    <EventsGrid />
    <Contact
      subtitle='Meet Us There'
      title='Want to Meet Us?'
      body="Book a meeting in advance or drop by our booth to explore how Wavebrook can drive your app's growth."
      ctaText='Looking for Partnership?'
      cta='Become a Partner'
      ctaLink='/become-a-partner'
      ctaText2='Explore our affiliate program'
      cta2='Earning with Wavebrook'
      ctaLink2='/affiliates'
      formCta='Book a meeting'
    />
  </main>
  <Footer />
</Layout>

<style>
  main {
    overflow-x: hidden;
    background-image:
      url('/assets/decoratives/mainbg1.png'), url('/assets/decoratives/mainbg2.png'),
      url('/assets/decoratives/mainbg3.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position:
      right 15%,
      85% 5%,
      left 40%;
    background-size:
      clamp(760px, 40vw, 50vw) clamp(700px, 70vh, 80vh),
      clamp(auto, 15vw, 200px) auto,
      clamp(auto, 15vw, 200px) auto;
  }
</style>
