---
// About Mission section
---

<section class='pb-12 px-4 sm:px-8 md:px-16'>
  <div class='max-w-[90rem] mx-auto p-6 sm:p-8 bg-white rounded-xl'>
    <!-- Mission -->
    <div class='flex flex-col md:gap-6'>
      <p class='text-[#024349] font-bold text-xs sm:text-sm tracking-wide'>MISSION</p>

      <div class='flex flex-col gap-4'>
        <h2
          class='text-2xl sm:text-3xl md:text-4xl font-bold text-[#0A0A0A] leading-snug sm:leading-tight'
        >
          Bridge the gap between data and monetization
        </h2>
        <p class='text-base sm:text-base font-normal text-[#0A0A0A] leading-relaxed'>
          At Wavebrook, we empower apps to unlock new revenue streams and optimize performance
          through powerful, real-time driven solutions. Our mission is to bridge the gap between
          data and monetization, helping companies drive in the digital landscape.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }
</style>
