---
// About Hero section
---

<section class='pt-24 pb-16 overflow-hidden'>
  <div class='max-w-[90rem] mx-auto px-6'>
    <!-- Main Content -->
    <div class='text-center'>
      <!-- Wavebrook Logo/Icon -->
      <div class='mb-8 flex justify-center'>
        <div class='w-16 h-16 rounded-xl flex items-center justify-center bg-[#024349]'>
          <img src='/assets/logos/logo01.svg' alt='HeroLogo' class='' />
        </div>
      </div>

      <h1 class='text-4xl mt-10 md:mt-0 md:text-5xl lg:text-6xl font-bold text-black leading-tight'>
        We are Powering
        <span class='block'>Data-Driven Growth</span>
      </h1>
    </div>
  </div>
</section>

<style>
  h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: -3%;
    text-align: center;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 32px;
      line-height: 125%;
      letter-spacing: -1%;
    }
  }
</style>
