---
// Case Studies Hero section
---

<section class='pt-24 pb-16 px-8 md:px-16 md:pb-[3.5rem] relative overflow-hidden'>
  <div class='max-w-[90rem] mx-auto px-6'>
    <!-- Main Content -->
    <div class='text-center'>
      <h1 class='hero-title font-semibold'>Case Studies</h1>
      <p class='hero-description max-w-4xl'>
        See how integrating Wavebrook SDK has led to better monetization and
        <span class='block'>technical performance for real apps. Discover their stories here.</span>
      </p>
    </div>
  </div>
</section>
