---
// Product Hero section for NetSignal SDK
---

<section class='overflow-hidden'>
  <div
    class='max-w-[90rem] mx-auto h-[calc(100vh-126px)] max-h-[calc(1000px)] px-6 relative z-10 flex flex-col justify-between'
  >
    <div class='pt-16 md:pt-24'></div>
    <!-- Main Content -->
    <div
      class='text-center flex flex-col gap-6 w-full lg:max-w-4xl md:max-w-[31rem] mx-auto z-20 self-center pb-8 md:pb-16'
    >
      <h1
        class='text-5xl md:text-[3.5rem] font-semibold text-[#024349] tracking-[-0.02em] leading-tight'
      >
        NetSignal SDK
      </h1>
      <p
        class='text-xl md:text-[1.75rem] text-[#0A0A0A] tracking-[-0.02em] leading-9 font-semibold'
      >
        Integrate our SDK and improve global connectivity with a few lines of code
      </p>

      <p class='text-base text-[#0A0A0A] leading-relaxed font-normal tracking-normal'>
        Powerful software development kit created for advanced network signal analysis, monitoring,
        and optimization.
      </p>
    </div>
    <div class='w-1/2 flex justify-center z-10 self-center'>
      <img
        src='/assets/decoratives/NetSignal.png'
        alt='NetSignal SDK'
        class='w-auto h-auto object-cover'
      />
    </div>
  </div>
</section>

<style>
  section {
    background-color: #beffd7;
    background-image: url('/assets/decoratives/ProductBackground.png');
    background-repeat: repeat;
    background-position: right top;
  }
</style>
